/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.width-format {
    width: 70vw;
}

.store-name {
    color:#3b3b3b;
    padding-left: 0px;
    padding-right: 0px
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.caveat-tagline {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.light-black {
    color: #373737;
}

.nav-style {
    border: none; 
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav > li > a:hover{
    background-color: #ffceb7;
}

.custom-card {
    width: 250px;
    height: 250px;
    border-radius: 15px 15px 0 0 ;
    overflow: hidden;
}

.card-containers {
    display:flex;
    flex-direction: row;
    margin: auto;
    gap: 20px;
    width: 55vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-img {
    width:100%;
}